<config>
    <modules>
        <DMS_CommonRewrites>
            <version>0.0.2</version>
        </DMS_CommonRewrites>
    </modules>
    <global>
        <models>
            <commonrewrites>
                <class>DMS_CommonRewrites_Model</class>
            </commonrewrites>
        </models>
        <helpers>
            <commonrewrites>
                <class>DMS_CommonRewrites_Helper</class>
            </commonrewrites>
        </helpers>
        <resources>
            <commonrewrites_product_setup>
                <setup>
                    <module>DMS_CommonRewrites</module>
                    <class>DMS_CommonRewrites_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </commonrewrites_product_setup>
        </resources>
        <blocks>
            <commonrewrites><class>DMS_CommonRewrites_Block</class></commonrewrites>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <commonrewrites>
                    <file>common.xml</file>
                </commonrewrites>
            </updates>
        </layout>
    </frontend>
</config>