<config>
    <modules>
        <DMS_Sparkstone>
            <version>0.0.0.1</version>
        </DMS_Sparkstone>
    </modules>
    <global>
        <models>
            <sparkstone>
                <class>DMS_Sparkstone_Model</class>
                <resourceModel>sparkstone_resource</resourceModel>
            </sparkstone>
            <sparkstone_resource>
                <class>DMS_Sparkstone_Model_Resource</class>
                <entities>
                    <responses>
                        <table>dms_sparkstone_responses</table>
                    </responses>
                </entities>
            </sparkstone_resource>
        </models>
        <helpers>
            <sparkstone>
                <class>DMS_Sparkstone_Helper</class>
            </sparkstone>
        </helpers>
        <resources>
            <sparkstone_setup>
                <setup>
                    <module>DMS_Sparkstone</module>
                </setup>
            </sparkstone_setup>
        </resources>
        <blocks>
            <sparkstone><class>DMS_Sparkstone_Block</class></sparkstone>
        </blocks>
    </global>
    <frontend>
        <routers>
            <sparkstone>
                <use>standard</use>
                <args>
                    <module>DMS_Sparkstone</module>
                    <frontName>sparkstone</frontName>
                </args>
            </sparkstone>
        </routers>
        <layout>
            <updates>
                <sparkstone>
                    <file>sparkstone.xml</file>
                </sparkstone>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <sparkstone_productsc>
                <schedule><cron_expr>0,15,30,45 * * * *</cron_expr></schedule>
                <run><model>sparkstone/observer::sparkstoneProductImport</model></run>
            </sparkstone_productsc>
        </jobs>
    </crontab>
</config>