<?xml version="1.0"?>
<!--
/**
 * @category   DMS
 * @package    DMS_Sparkstone
 * @copyright  admaduranga@gmail.com
 * @license    admaduranga@gmail.com
 */
-->
<config>
    <tabs>
        <dms translate="label" module="customer">
            <label>DMS Lanka &#9733;</label>
            <sort_order>2</sort_order>
        </dms>
    </tabs>
    <sections>
        <sparkstone translate="label">
            <label>Sparkstone Product and Category Import</label>
            <tab>dms</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <api translate="label">
                    <label>Import Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <apiurl>
                            <label>API URL</label>
                            <comment>
                                <![CDATA[API URL for the live import]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apiurl>
                        <sandbox translate="label">
                            <label>Sand box mode</label>
                            <frontend_type>select</frontend_type>
                            <comment>
                                <![CDATA[Use the sandbox mode]]>
                            </comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sandbox>
                        <sandboxurl>
                            <label>API Sandbox URL</label>
                            <comment>
                                <![CDATA[API URL for the Sandbox]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandboxurl>
                        <username>
                            <label>Username</label>
                            <comment>
                                <![CDATA[API Username]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <password>
                            <label>Password</label>
                            <comment>
                                <![CDATA[API Password]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <csvmapper translate="label comment">
                            <label>CSV Colomn Mapper</label>
                            <comment>
                                <![CDATA[Upload CSV mapping the colomns for import {{File_Col, Import_Field}}]]>
                            </comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>sparkstone/adminhtml_system_config_backend_file</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">dms/sparkstone</upload_dir>
                            <base_url type="media" scope_info="1">youama/slider</base_url>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </csvmapper>
                        <debug translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <comment>
                                <![CDATA[Debug messages are logged into sparkstone.log]]>
                            </comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                        <importpath>
                            <label>Product Import Path</label>
                            <comment>
                                <![CDATA[Path for Product Import]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </importpath>
                        <spk_cats_to_disable>
                            <label>Categories to disable</label>
                            <comment>
                                <![CDATA[Sparkstone category ids to disable after category import (comma separated)]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </spk_cats_to_disable>
                    </fields>
                </api>
            </groups>
        </sparkstone>
    </sections>
</config>