@import "../partials/mixins";

.catalog-category-view {
    .col-main {
        padding-left: 0;
    }
}

.main {
    padding: 20px;
}

.account-drop-down {
    z-index: 1 !important;
    width: 192px !important;
    left: -187px !important;
    top: 8px !important;
    box-shadow: none !important;
    z-index: 500000;
    //left: inherit !important;
    li {
        float: left;
        display: inline-block;
        text-align: center;

        &:nth-child(1) {
            padding: 0 13px;
            border-bottom: none !important;
        }

        &:last-child {
            padding: 0 13px;
        }

        a {
            padding: 8px 0 !important;
            text-align: center !important;

            &:hover {
                background-color: #000000 !important;
            }
        }
    }
}

.account-create {
    .col-1,
    .col-2 {
        width: 100%;
    }

    .col-xs-12 {
        padding: 0;
    }

    .col-lg-6 {
        padding: 0;
    }
}

.new-users {
    padding-bottom: 20px;
}

.wrapper {
    .page {
        overflow: hidden;
    }

    .header-container {
        .header {
            box-shadow: none !important;

            .call-us,
            .quick-access,
            .top-quick-links {
                display: none;
            }
            height: 90px;
            border-bottom: none;
            position: static !important;
            top: auto !important;
            z-index: 9999;
            border-top: 2px Solid #000;

            .logo-div {
                margin-top: 26px;
                width: 100%;
            }

            .logo-div a.logo {
                text-align: center;

                img {
                    max-width: 60%;
                    margin: 0 auto;
                }
            }
        }

        .fixed-container {
            position: relative !important;
            display: block !important;
            top: auto !important;
            z-index: 9999;

            .quick-access {
                width: 116px;
                float: right;

                .links {
                    li {
                        &:first-child {
                            display: none;
                        }
                    }
                }
            }

            .cms-menu {
                padding: 1px 0;

                .small-x-logo {
                    display: none;
                    margin-left: 5px;
                }

                .m-nav-menu-link {
                    margin-top: 4px;
                    display: block;
                    width: 45px;
                    height: 42px;
                    //background: url("../images/sprite.png") no-repeat;
                    //background-position: 13px -865px;
                    cursor: pointer;
                    float: left;

                    i {
                        line-height: 43px;
                        font-size: 24px;
                        display: block;
                        color: #fff;
                    }

                    &:hover {
                        background-color: #4c4c4c;
                        display: block;
                        color: #4c4c4c;

                        text-decoration:none i {
                            color: #fff;
                        }
                    }
                }

                .action-btns-div {
                    width: 51px;
                    display: none;

                    ul {
                        li {
                            &.menu-link {
                                display: none;
                            }

                            &.search {
                                display: none;
                            }
                        }
                    }
                }

                .welcome-msg {
                    display: block;
                    float: left;
                    padding-right: 10px;
                    //@include calc(width,'100% - 116px');
                    p {
                        color: #fff;
                        line-height: 47px;
                        font-size: 15px;
                        font-family: 'houschka_alt_promedium';
                        font-style: normal;
                        font-weight: normal;
                    }
                }

                .dl-menuwrapper {
                    z-index: 9999;
                    max-width: 218px;

                    .dl-submenu {
                        //max-width: 247px;
                    }

                    .dl-menu {
                        margin: 3px 0 0;
                        display: none;
                        //max-width: 247px;
                        &.dl-subview {
                            li {
                                &.title {
                                    display: block;
                                }
                            }
                        }
                    }

                    button {
                        background: #000;

                        &:hover,
                        .dl-active {
                            background: #000;
                        }
                    }

                    ul {
                        background: #000;

                        li {
                            &:not(:last-of-type) {
                                border-bottom: 1px solid #212121;
                            }

                            &.title {
                                background: #e60000;
                                height: auto;
                                font-family: 'houschkaalt-bold-italic-regular';
                                line-height: 20px;
                                font-weight: normal;
                                font-size: 20px;
                                text-align: left;
                                color: #fff;
                                padding: 12px 20px;
                            }

                            > a {
                                &:not(:only-child):after {
                                    position: absolute;
                                    top: 0;
                                    line-height: 50px;
                                    font-family: 'icomoon';
                                    speak: none;
                                    -webkit-font-smoothing: antialiased;
                                    content: "\e000";
                                }
                            }

                            a {
                                font-family: 'houschka_alt_prodemibold';
                                text-transform: capitalize;
                                color: #e3e3e3;
                                font-size: 15px;
                                padding: 12px 20px;
                                text-align: left;
                                font-weight: normal;

                                &:not(:only-child) {
                                    &:after {
                                        position: absolute;
                                        top: 0;
                                        line-height: 50px;
                                        font-family: 'icomoon';
                                        speak: none;
                                        -webkit-font-smoothing: antialiased;
                                        content: "\e000";
                                        color: #fff;
                                        font-size: 12px;
                                        right: 20px;
                                    }
                                }
                            }

                            &.dl-back {
                                a {
                                    // text-transform: uppercase;
                                }

                                &:after {
                                    position: absolute;
                                    top: 0;
                                    font-family: 'icomoon';
                                    speak: none;
                                    -webkit-font-smoothing: antialiased;
                                    content: "\e000";
                                    color: #fff;
                                    left: 3px;
                                    line-height: 43px;
                                    font-size: 12px;
                                }
                            }

                            .dl-menu.dl-subview li {}
                            //              .dl-menuwrapper li > a:not(:only-child):after {
                            //                position: absolute;
                            //                top: 0;
                            //                line-height: 50px;
                            //                font-family: 'icomoon';
                            //                speak: none;
                            //                -webkit-font-smoothing: antialiased;
                            //                content: "\e000";
                            //              }
                        }
                    }
                }
            }

            nav {
                display: none;
            }
        }
    }

    .navbar-container {
        //display: none;
    }

    #list-items {
        #slider-content {
            overflow-x: hidden;
            padding-bottom: 0;
        }
    }
}

.custom_footer_wrapper {
    .custom_footer_static_block {
        padding: 38px 25px 20px;

        .custom_row1_col1,
        .custom_row1_col2,
        .custom_row1_col3 {
            width: 100%;
            margin-bottom: 10px;
        }

        .custom_row1_col2 {
            text-align: center;

            img {
                max-width: 50px;
            }
        }
    }
}

.col1-layout {
    .col-main {
        padding: 0;
    }
}

.col2-left-layout {
    .col-main {
        padding-left: 0;
    }
}
/////////////////////////////footer////////////////////

.footer-container {
    .footer {
        .custom_tweets {
            background: url("../images/G_1.png") no-repeat left top #000;
            background-size: contain;
            background-position: -80px 0;
            padding: 25px;

            .qoute {
                padding-bottom: 20px;
            }

            .custom_row2_col3,
            .qoute {}
        }

        .footer_links_wrapper {
            .footer_social_newsletter {
                li {
                    margin-left: 1%;
                }

                .footer_social_links {
                    ul {
                        li {
                            &.fb {
                                width: 28% !important;
                            }

                            &.twitter {
                                width: 36% !important;
                            }
                        }
                    }
                }
            }

            .footer_links_subwrapper {
                > div {
                    float: left;
                    width: 100%;
                    margin-bottom: 25px;

                    ul {
                        li {
                            float: left;
                            width: 49%;
                        }
                    }
                }

                .footer_social_newsletter {
                    float: left;
                    width: 100%;
                }
            }
        }

        .footer_brand_section {
            ul {
                li {
                    float: left;
                    width: 42%;
                    margin-bottom: 25px;
                }
            }
        }

        .custom_red_triangle {
            img {
                display: none;
            }
            background: url("../images/footer-red-traingle.png") top center no-repeat;
            min-height: 324px;
        }
    }
}

.cart-table {
    colgroup,
    thead {
        display: none;
    }

    tr {
        display: table;

        td:nth-last-child(1) {
            display: table-header-group !important;
            border-bottom: 0 !important;

            .btn-remove {
                float: right;
                position: relative;
                right: 10px;
                top: 10px;
            }
        }

        td {
            width: 100%;
            display: inline-block;
            white-space: normal !important;
            border-bottom: 1px solid #ddd;
            border-top: 0 !important;
            padding: 10px !important;
            text-align: center;
        }
    }
}

.cart {
    .totals {
        width: 100% !important;
    }

    .btn-checkout {
        width: 100% !important;
        background-image: none !important;
        background-color: red !important;
        margin-right: 0 !important;
    }

    .discount {
        display: none;
    }
}

#list-items #slider-hover-details .price-name-wrapper {
    width: 100%;
}
@media (max-width: 340px) {
    .wrapper .header-container .header .logo-div {
        //margin-top: 13px;
        a.logo img {
            max-width: 80%;
        }
    }
}

.product-tabs {
    li {
        width: 50%;
        text-align: center;

        a {
            font-size: 13px !important;
        }
    }
}
