.page{
  .product-view{
    .mobile-title{
      display: block;
      h2{
        padding-left: 15px;
      }
    }
    .product-img-box{
      float: left;
      width: 100%;

      .product-image img{
        max-height: 240px;
      }
    }

    .product-shop {
      padding: 0 25px;
      .add-to-box {
        .add-to-cart{
          float: left !important;
        }
        .btn-cart{
          margin-top: 20px;
          clear: both;
        }
      }
    }
  }
}