.account-login{
  .page-title{
    border-bottom: none;
  }
h2{

  font-family: 'houschka_alt_probold';
  font-weight: normal;
  color: #000;
  font-size: 18px;
  margin-bottom: 15px;
}
  p{
    line-height: 125%;
  }
}