.account-login{
  .page-title{
    border-bottom: none;
  }
h2{

  font-family: 'houschka_alt_probold';
  font-weight: normal;
  color: #000;
  font-size: 18px;
  margin-bottom: 15px;
}
  p{
    font-family: 'houschka_alt_prodemibold';
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    padding: 10px 0;
  }
  .buttons-set {
    button{
      &.button{
        float: left;
      }
    }
  }
  .f-password{
    font-size: 12px;
  }
}