@import "mixins";
.main-container{
  .col-main{
    .category-products{
      .products-grid{
        width: 100%;
        float: left;

        li{
          &.item{
            width: 22%;
            float: left;
            margin: 1%;
          }
        }
      }
    }
  }
}