@import "compass/css3";
@import "mixins";


body{
  background: url("../images/body-bg.png") repeat;
  font-size: 14px;
  font-family: arial, helvetica, "sans serif";
}
.wrapper{
  min-width: 0;
  width: 100%;
}
.header-container{
  .header{
    width: 100%;
    max-width: 1024px;
    padding: 10px 30px 0 30px;
    background:#fefefe;
    box-shadow: 0px -7px 8px 5px #ccc;
    border-bottom: 4px solid #da0000;
    border-top: 1px solid #d8d9d9;
    box-sizing: border-box;

    .call-us{
      float: left;
      margin-top: 83px;
      @include Houschka_pro_med;
      font-size: 12px;
      color: #282727;
      text-align: left;
      //margin-left: 20px;


      h2{
        @include Houschka_pro_bold;
        color: #ff0000;
        font-size: 20px;
      }

    }

    .logo-div{
      max-width: 420px;
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
      float: none;

      a{

        &.logo{
          width: 100%;
          margin: 0;

          img{
            max-width: 100%;
          }
        }
      }

    }
    .top-quick-links{
      position: absolute;
      right: 30px;
      top: 15px;
      width: AUTO;

      ul{
        li{
          display: inline;
          float: left;
          line-height: 12px;

          &:first-child{
            border-right: 1px solid #000;
            padding-right: 5px;
            margin-right: 5px;

          }

          a{
            @include Houschka_alt_bold;
            font-size: 12px;
            color: #000;
            font-weight: normal;
            text-transform: uppercase;
          }
        }
      }
    }
    .quick-access{
      float: right;
      margin-top: 83px;

      .links{
        li{
          background: url("../images/sprite.png") no-repeat 0 0;
          width: 45px;
          height: 38px;
          padding: 0;
          margin-left: 7px;

          &:first-child{
            margin-left: 0;
          }

          a{
            text-align: left;
            display: block;
            float: left;
            text-indent: -3000px;
            width: 45px;
            height: 38px;
            background: url("../images/sprite.png") no-repeat;

            &.top-link-home{
              background-position: 16px -129px;
            }
            &.top-link-cart{
                background-position: 16px -89px;
            }
            &.top-link-customer{
              background-position: 16px -44px;
            }



          }
        }
      }
    }
  }
}
.menu-search-wrapper{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: #fff;
  position: relative;

  &:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 67px solid #000;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 67px solid #000;
    border-bottom: 0px solid transparent;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cms-menu{
    background: #000;
    padding: 11px 26px;
    max-width: 964px;
    margin: 0 auto;
  }



  .cms-menu{
    .cl-effect-18{
      a{
        color: #fff;
        font-size: 15px;
        @include Houschka_alt_bold;
        font-weight: normal;

        &:before{
          background: #fff;
          height: 1px;
        }
        &:after{
          background: #fff;
          height: 1px;
        }
      }
    }
  }

}
.search-box{
  position: relative;
  max-width: 966px;
  margin: 0 auto;
  float: none;
  height: 197px;
  background: url("../images/search-box-bg.jpg") no-repeat ;
  background-size: 100%;

  .black-arrow{
    position: absolute;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    top:0;
    height: 14px;
    background: url("../images/sprite.png") no-repeat 0 -186px;
  }

  .form-search{
   // padding-top: 38px;

    .search-label{
      padding-bottom: 15px;
      padding-top: 38px;
      font-size: 40px;
      @include Houschka_alt_light;

    }
    .search-inputs{
      display:inline-block;
      height: 60px;
      background:url("../images/serach-input-bg.png") repeat-x left top #fff;
      border: 2px solid #000000;
      position: relative;
      width: 100%;
      max-width: 538px;


      &:after{
        content:url("../images/search-right-arrow.png");
        top: -2px;
        position: absolute;
        right: -24px;
        }


      input{
        float: left;
        width: 95%;
        @include calc (width,'98% - 40px');
        border:none;
        height: 56px;
        line-height: 45px;
        padding: 5px 1%;
        background:url("../images/serach-input-bg.png") repeat-x left top #fff;

      }
      .input-group-btn{
        float: right;
        width: 40px;
        margin-top: 18px;
        button{
          width: 100%;
          span{
            display: block;
            width: 100%;
            height: 30px;
            text-align: left;
            text-indent: -3000px;
            background:url('../images/sprite.png')0 -222px transparent no-repeat;
            border: none;
          }

          &:hover{
            background: none;

            span{
              background-position: -60px -222px;
            }
          }
        }
      }

    }
    .filter-results{
      color: #fff;
      @include Houschka_alt_bold;
      font-size: 15px;
      text-decoration: underline;
      margin-top: 13px;
      display: inline-block;
    }
  }
}