.form-group{
  label{
    color: $primary-red;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'houschka_alt_probold';
    margin-bottom: 9px;
  }
  input[type="text"]{
    margin-top: 0px;
    width: 100%;
  }
  label+ input[type="text"]{
    margin-top: 0;
  }
  select{
    border: 3px solid #dadada;
    border-radius: 0;
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}