@import "compass/css3";
@import "mixins";


.cms-index-index{
  .page-title{
    display: none;
  }
  .main{
    padding: 0;
    #product-slider{
      margin-bottom: 0;
      float: left;
      width: 100%;
      padding-top: 38px;
      background: #fff;
      margin-top: 5px;
      position:relative;

      .head{
        h2{
          position: absolute;
          top: 14px;
          left: 0;
          background: url("../images/btn-sprite.png") no-repeat 0 -86px transparent;
          color: #fff;
          padding: 0 65px;
          line-height: 46px;
          font-family: 'houschkaalt-light-regular';
          font-weight: normal;
          font-size: 30px;
          z-index: 300;
        }
      }

      #list-items{
        float: left;
        width: 100%;
        border-top: 1px solid #ff0000;
        padding-top: 33px;
        #slider-content{
          width: 100% !important;
          height: auto !important;
          background: #fff;
          border: none;

          #sl-screen {
            height: 171px !important;
            #sl-view{
              height: auto !important;
            }
            #left{
              background: url("../images/sprite.png") 9px -823px #000000;
              left: 0px;
            }
            #right{
              background: url("../images/sprite.png") -55px -823px #000000;
              right: 0px;
            }
            .jq-ss-crop{
              width: 100% !important;
            }
          }
          #sl-images {
            li {
              max-width: 120px;
              margin: 0 16px;
              height: 186px !important;
              .item button{
                &.btn-cart{
                  display: none;
                }
              }
              .item{
                width: 100% !important;
                .product-img{
                  width: 100% !important;
                  .product-image{
                    width: 100% !important;
                    background: none;
                    a{
                      display: block;
                      width: 100%;
                      img{
                        max-width: 100%;
                        margin: 0 auto;
                        height: auto;
                      }
                    }
                  }
                }
                .product-info{
                  text-align: center;

                  .product-name{
                    a{
                      font-family: 'houschka_alt_prodemibold';
                      font-weight: normal;
                      font-size: 12px;
                      color: #000;
                    }
                  }
                  .price-box{
                    span{
                      font-size: 22px;
                      font-family: 'houschka_alt_probold';
                      font-weight: normal;
                      &.regular-price{
                        color: #ff0000;
                      }
                    }
                  }
                  .slider-action-wrapper{
                    display: none;


                  }
                }
              }
            }
          }
        }
        #slider-hover-details{
          display: none;
            float: left;
          width: 100%;
          color: #fff;
          background: #ff0000;
          padding: 18px 5%;

          .price-name-wrapper{
            float: left;
            width: 65%;

            .product-name{
              a{
                color: #fff;
                font-family: 'houschka_alt_probold';
                font-weight: normal;
                font-size: 18px;
                padding-bottom: 10px;
              }
            }
            .desc{
              color: #fff;
              font-family: 'houschka_alt_prolight';
              font-size: 14px;
              font-weight: normal;
              line-height: 18px;
            }
            .price-box{
              span{
                color: #fff;
              }
            }

          }
          .slider-action-wrapper{
            float: right;
            width: 228px;

            a{
              display: block;
              width: 100%;
            }
            button{
              width: 100%;

            }
          }
        }


      }
    }
  }
}
.youama-slider-block{
  //margin-top: 5px;
  box-shadow: 0px 5px 5px #5d5d5d;
  float: left;
  width: 100%;
}


.custom_footer_wrapper{
  margin-top: 5px;
  padding-top: 38px;
  box-shadow: 0px -4px 6px #5d5d5d;
  float: left;
  width: 100%;
  .custom_footer_static_block{
    padding: 38px 65px 20px 65px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #000;
    position: relative;
    float: left;
    width: 100%;

    h2{
      position: absolute;
      top: -25px;
      left: 0;
      background:url("../images/btn-sprite.png") no-repeat 0 0 transparent;
      color: #fff;
      padding: 0 65px;
      line-height: 46px;
      @include Houschka_alt_light;
      font-size: 30px;
    }
    h3{
      @include Houschka_pro_bold;
      color: #000;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .custom_row1_col1,.custom_row1_col2,.custom_row1_col3{
      float: left;
      width: 25%;
    }
    .custom_row1_col1{
      width: 52%;
    }
    .custom_row1_col2{
      width: 16%;
      text-align: center;
    }
    .custom_row1_col3{
      width: 32%;
    }
  }
}