@mixin Houschka_pro_med{
  font-family: 'houschkaalt-medium-regular';
  font-weight: normal;
  font-weight: normal;
}
@mixin Houschka_pro_bold{
  font-family: 'houschka_alt_probold';
  font-weight: normal;
}
@mixin Houschka_alt_bold{
  font-family: 'houschkaalt-bold-regular';
  font-weight: normal;
}
@mixin Houschka_alt_light{
  font-family: 'houschkaalt-light-regular';
  font-weight: normal;
}
@mixin Houschka_alt_med{
  font-family: 'houschkaalt-medium-regular';
  font-weight: normal;
}
@mixin Houschka_alt_bold_italic{
  font-family: 'houschkaalt-bold-italic-regular';
  font-weight: normal;
}


@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}


//////input number style
.qty-wrapper{
  background: url('../images/btn-sprite.png') no-repeat -11px -309px;
  width: 132px;
  height: 51px;
  float: left;

  .qty{
    float: left;
    margin-right: 5px;
    border: none;
    max-width: 100px;
    margin-left: 0px;
    text-align: center;
    line-height: 30px;
    margin-top: 2px;
    font-family: 'houschka_alt_probold';
    font-weight: normal;
    font-size: 18px;
    color: #000;
  }
}

@mixin placeholder-text{
  ::-webkit-input-placeholder {
    color: #aeaeae;
    font-size: 16px;
    @include Houschka_alt_bold_italic;
  }

  :-moz-placeholder {
    color: #aeaeae;
    font-size: 16px;
    @include Houschka_alt_bold_italic;
  }

  ::-moz-placeholder {
    color: #aeaeae;
    font-size: 16px;
    @include Houschka_alt_bold_italic;
  }

  :-ms-input-placeholder {
    color: #aeaeae;
    font-size: 16px;
    @include Houschka_alt_bold_italic;
  }
}