@import "mixins";

.col1-layout {
    .col-main {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.product-view {
    .mobile-title {
        display: none;
    }

    .product-name {
        h2 {
            font-size: 29px;
            font-family: 'houschka_alt_probold';
            font-weight: normal;
            text-transform: capitalize;
            font-style: normal;
            line-height: 150%;
        }
    }

    .rating-row {
        float: left;
        width: 100%;

        .ratings {
            float: left;
        }
    }

    .product-img-box {
        .product-image {
            padding: 10px 1%;
            border: 1px solid #dedede;
            text-align: center;
            position: relative;
            height: 320px;
            width: 100%;

            img {
                max-width: 100%;
                position: relative;
                margin: 0 auto;
                max-height: 100%;
            }
        }

        .zoom-notice {
            position: absolute;
            bottom: 2px;
            left: 12px;
            width: 16px;
            height: 18px;
            background: url("../images/sprite.png") 0 -2270px;
            text-align: left;
            text-indent: -3000px;
            z-index: 9999;
        }

        .more-views {
            position: relative;

            h2 {
                display: none;
            }

            ul {
                margin-left: 0;

                li {
                    margin-right: 12px;
                    //width: 31%;
                    border: 1px solid #dedede;
                    float: left;
                    // padding: 0 1%;
                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        width: 100%;
                        height: 66px;
                        overflow: hidden;
                        display: block;
                        text-align: center;
                        padding: 5px;
                        box-sizing: border-box;

                        img {
                            max-width: 100%;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .more-views-control {
                display: block;
                position: absolute;
                height: 32px;
                width: 32px;
                z-index: 100;

                a {
                    display: block;
                    height: 32px;
                    width: 32px;
                    background: url("../images/sprite.png") 9px -823px black;
                    text-align: left;
                    text-indent: -3000px;
                }

                &.more-views-prev {
                    top: 50%;
                    left: 0;
                    margin-top: -16px;
                }

                &.more-views-next {
                    top: 50%;
                    right: 7px;
                    margin-top: -16px;

                    a {
                        background-position: -55px -823px;
                    }

                }
            }
        }
    }

    .product-shop {
        .add-to-box {
            float: left;
            width: 100%;
            margin: 26px 0;

            .add-to-cart {
                float: right;

                label {
                    line-height: 51px;
                    font-family: 'houschka_alt_probold';
                    font-weight: normal;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #2f2f2f;
                }
            }

            .qty-wrapper {
                background: url('../images/btn-sprite.png') no-repeat -11px -309px;
                width: 132px;
                height: 51px;
                float: left;

                .qty {
                    float: left;
                    margin-right: 5px;
                    border: none;
                    max-width: 100px;
                    margin-left: 6px;
                    text-align: center;
                    line-height: 30px;
                    margin-top: 10px;
                    font-family: 'houschka_alt_probold';
                    font-weight: normal;
                    font-size: 18px;
                    color: #000;
                }
            }

            .btn-cart {
                background: url('../images/btn-sprite.png') no-repeat 0 -378px;
                width: 210px;
                height: 49px;
                float: left;
                font-family: 'houschka_alt_probold';
                font-weight: normal;
                font-size: 18px;
                color: #fff;
                text-align: right;
                padding-right: 25px;
                line-height: 49px;
                margin-left: -4px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .short-description {
            margin: 0;
            font-family: arial, helvetica;
            font-size: 14px;
            line-height: 19px;
            float: left;
            width: 100%;
            padding: 20px 0;

            p {
                margin-bottom: 15px;
            }
        }

        .price_wrapper {
            float: left;
            width: 100%;
            border-top: 4px solid #ff1414;
            border-bottom: 4px solid #ff1414;
            padding: 15px 0;

            .sell_price {
                float: left;
                width: 49%;

                label {
                    float: left;
                    line-height: 29px;
                    font-size: 18px;
                    font-family: 'houschka_alt_probold';
                    font-weight: normal;
                    color: #000;

                }

                .price-stock {
                    float: left;
                    margin-left: 5px;

                    .price {
                        .price-box {
                            margin: 0;
                        }

                        span {
                            font-family: 'houschka_alt_probold';
                            font-weight: normal;
                            font-size: 30px;
                            color: #ff0000;
                            line-height: 30px;
                            margin: 0;

                        }
                    }

                    .availability {
                        font-family: arial;
                        font-size: 14px;
                        margin: 0;

                        &.in-stock {
                            color: #489900;
                        }

                        &.out-stock {
                            color: #ff0000;
                        }
                    }

                }
            }

            .buy_price {
                float: right;
                width: 49%;

                label {
                    float: left;
                    line-height: 30px;
                    font-size: 18px;
                    font-family: 'houschka_alt_probold';
                    font-weight: normal;
                    color: #000;

                }

                .price-know-more {
                    float: left;
                    margin-left: 5px;

                    .price {
                        font-family: 'houschka_alt_probold';
                        font-weight: normal;
                        font-size: 30px;
                        color: #ff0000;
                        line-height: 30px;
                        margin: 0;
                    }

                    .know-more {
                        float: right;
                        text-align: right;
                    }
                }
            }
        }

    }
}

.product-collateral {
    margin-top: 20px;
    background: none;
    padding: 0;

    .product-tabs {
        border-bottom: 3px solid #ff0000;
        background: #000;
        float: left;
        width: 100%;
        padding: 0;
        margin-bottom: 0;

        li {
            border-left: none;
            border-right: none;

            &.active {
                border: none;

                a {
                    background: #ff0000;
                }
            }
        }

        a {
            line-height: 44px;
            font-family: 'houschka_alt_probold';
            font-weight: normal;
            font-size: 15px;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .product-tabs-content {
        font-size: 14px;
        line-height: 20px;
        float: left;
        width: 100%;
        padding: 30px 24px;
        border: 1px solid #dbdbdb;

        p {
            margin-bottom: 20px;
        }
    }
}

.data-table {
    td,
    th {
        padding: 10px;
    }

    th {
        display: block;
        font-size: 100%;
        text-align: left;
        vertical-align: middle;
        white-space: normal;
    }
}
