@import "mixins";
.dms-productrepairs-index-index{
  h1{
    font-size: 42px;
    @include Houschka_alt_bold_italic;
    color: #fff;
    float: left;
    width: 100%;
    border-bottom: 3px solid #fff;
  }
  .main.container{
    background:$primary-red ;
    padding: 20px 30px 0 30px;

    .img-wrapper{
      margin-left: -30px;
      margin-bottom: -3px;
    }
  }
  .page-description{
    float: left;
    width: 100%;
    color: #fff;
    font-size: 20px;
    @include Houschka_alt_med;
    padding-top: 20px;
  }
  .form-group label{
    color: #fff;
    font-family: 'houschka_alt_probold';
    font-size: 14px;
  }
  button{
    margin-top: 13px;
    color: #fff;
    font-family: 'houschka_alt_probold';
    font-size: 16px;
    border-radius: 0;
    float: right;
    margin-right: 0;
    background:url("../images/sprite.png") no-repeat 0 -1347px;
    width: 130px;
    height: 34px;
    border: none;
    margin-bottom: 10px;
  }
  .button-set{
    float: left;
    //max-width: 130px;
    span{
      display: inline-block;
      float: left;
      color: #fff;
      clear: both;

    }
  }
  .file-attach{
    //max-width: 200px;
    //float: left;
   // clear: both;
  }
  input[type="file"] {
    display: block;
    max-width: 240px;
    //margin-bottom: 20px;
  }
  .repair-form{
    padding-bottom: 20px;
  }
}