.col-left {
  &.sidebar{
    .block-content{
      background: none;

      dl{
        dt{
          padding: 10px 0 10px 0;
          font-size: 18px ;
          color: #ff0000;
          font-family: 'houschka_alt_probold';
          font-weight: normal;
          text-align: left;
          font-style: normal;
          text-transform: capitalize;
          border-bottom: 1px solid #ed0606;
          float: left;
          width: 100%;

          &:first-of-type{
            .plus-minus{
              background-position: -2px -1025px;
            }
          }

          .filter-title{
            float: left;
          }
          .plus-minus{
            float: right;
            background: url('../images/sprite.png') no-repeat -32px -1025px;
            width: 12px;
            height: 12px;
            display: block;
            cursor: pointer;

            &.plus{
              background-position: -32px -1025px;
            }
            &.minus{
              background-position: -2px -1025px;
            }
          }
        }
        dd{
          padding:0 0 10px 0;
          display: none;
          //overflow: visible !important;

          &:first-of-type{
            display: block;
          }

          ol{
            li{
              border-bottom: 1px solid #f02626;
              line-height: 37px;

              a{
                font-size: 14x;
                color: #000;
                font-family: 'houschka_alt_promedium';
                font-weight: normal;
                font-style: normal;
              }
            }
          }
        }
      }
    }
  }
}