@import "../partials/mixins";

.cms-menu{
  background: #000;
  padding: 1px 26px;
  max-width: 1200px;
  margin: 0 auto;
}
.m-menu-wrapper{
  display: none;
}


.cms-menu{
  .cl-effect-21{
    a{
      color: #fff;
      font-size: 15px;
      @include Houschka_alt_bold;
      font-weight: normal;
      text-decoration: none;
      margin: 15px 38px;
      position: relative;
      display: inline-block;
      outline: 0;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover{
        text-decoration: none;
      }

      &:before{
        background: #fff;
        height: 1px;
      }
      &:after{
        background: #fff;
        height: 1px;
      }
    }
  }

  &.fixed-nav{
    //display: none;
  }
}

.small-x-logo{
  float: left;
  width: 27px;
  height: 22px;
  background: url("../images/sprite.png") 0px -503px no-repeat;
  margin-top: 11px;
  text-align: left;
  text-indent: -3000px;
  margin-left: 19px;
  display: none;
}
