button,input{
  -moz-outline:none !important;
  &:focus {
    outline: 0 !important;
    -moz-outline:none !important;
  }
}
input{
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}
.required{
  em{
    color: #12b55b;
  }
}