@import "../partials/mixins";
///////////////fixed header ////////////////////////////////
.fixed-container{
  position: fixed;
 display: none;
  top:0;
  width: 100%;
  max-width: 100%;
  z-index: 1001;
  background: url("../images/fixed-header.png") repeat-x;

  .header{
    max-width: 100%;

    .call-us,.logo-div,.top-quick-links{
      display: none;
    }
    .quick-access{
      margin-top: 0;
    }
  }
  .search-box{
    //display: none;
    //visibility: hidden;
    //height: 100px;
  }
  .menu-search-wrapper{
    max-width: 100%;
    //background: url("../images/fixed-header.png") repeat-x;

    &:after,&:before{
      border: none;
    }
  }
  .cms-menu{
    background: transparent;
    max-width: 1200px;


    nav{
      float: left;
      a{
        line-height: 10px;
        padding: 9px 10px;
        margin: 10px 10px;
      }
    }

  }
  .small-x-logo{
    display: block;
  }
  .fixed-nav-links{
    display: block;
  }
  .quick-buttons{
    float: right;
    margin-top: 0;
    //width: 249px;
  }
  .quick-access{
    float: left;width: 159px;

    .links{
      li{
        float: left;
        background: url("../images/sprite.png") no-repeat 0 -290px;
        width: 48px;
        height: 57px;
        padding: 0;
        margin-left: 7px;

        &:first-child{
          margin-left: 0;
        }

        a{
          text-align: left;
          display: block;
          float: left;
          text-indent: -3000px;
          width: 48px;
          height: 38px;
          background: url("../images/sprite.png") no-repeat;

          &.top-link-home{
            //background-position: 16px -129px;
          }
          &.top-link-cart{
            //background-position: 16px -89px;
            position: relative;

            .cart-count{
              font-family: 'houschka_alt_probold';
              display: block;
              width: 13px;
              height: 13px;
              background: #000;
              position: absolute;
              right: 8px;
              text-indent: 0;
              font-size: 12px;
              color: #fff;
              top: 10px;
              line-height: 13px;
              text-align: center;
            }
          }
          &.top-link-customer{
           // background-position: 16px -44px;

            &.logged-in{
             // background-position: -18px -44px;
            }
          }



        }
      }
    }
  }
  .action-btns-div{
    float: left;
    width: 106px;
    margin-left: 4px;

    ul{
      li{
        float: left;
        width: 49px;
        &.search{
          margin-right: 8px;
          text-align: left;
          display: block;
          float: left;
          text-indent: -3000px;
          width: 49px;
          height: 56px;
          background: url("../images/sprite.png") no-repeat;
          background-position: 0 -362px;

          a{
            display: block;
            width: 100%;
            height: 56px;
            background:none;
            background-position: 13px -438px;

            &:before {
              content: "\f002";
              line-height: 46px;
              font-family: fontawesome;
              display: block;
              text-indent: 0;
              text-align: center;
              font-size: 18px;
              color: #000;
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
        .f-nav-menu-link{
          margin-top: 3px;
          display: block;
          width: 100%;
          height: 45px;
          //background: url("../images/sprite.png") no-repeat;
          //background-position: 13px -865px;
          cursor: pointer;

          i{
            line-height: 44px;
            font-size: 24px;
            display: block;
            color: #fff;
          }

          &:hover{
            background-color: #ccc;
            color: #fff;
            text-decoration: none
            i{
              color: #fff;
            }
          }
        }
      }
    }
  }
  .welcome-msg{
    display: none;
  }

}

///////////sub nav fixed/////////////////

.navbar-container{
  &.f-nav-sub{
    position: fixed;
    top: 47px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
  }
}
.f-nav .fixed-container .quick-access .links li a{
  background-color: #ff0000;
}
//////////////////////////////////////////////////////////////