@import "../partials/mixins";
.quickview-wrapper {
  background-color: #ffffff;
  padding:20px;

  .line-2{
    .product-img-box {
      float: left;
      max-width: 45%;
      width: 45%;
      margin: 0 0 0 10px;
      border-right: 1px solid #d9d9d9;

      img {
        max-width:90%
      }
    }

    .product-shop {
      max-width: 45%;
      width: 45%;
      float: left;
      padding: 0 0 0 20px;

      .product-name{
        a {
          text-decoration: none;

          h2{
            font-family: 'houschka_alt_prodemibold';
            color: #000000;
            font-size: 20px;
          }
        }
      }

      .short-desc {
        font-size: 14px;
        padding: 18px 0 0 0;
      }

      .long-desc {
        padding-top: 19px;
        font-size: 14px;
        padding: 18px 0 18px 0;
        border-bottom: 1px solid #d9d9d9;
      }

      .price-box {
        padding: 18px 0 0 0;

        .price {
          font-family: 'houschka_alt_prodemibold';
          color: #FF0000;
          font-size: 30px;
        }

        .availability {
          padding: 10px 0 0 0;

          &.in-stock {
            color:#489900;
            font-weight:normal;
            font-size: 14px;

            span {
              font-weight: normal;

              .qty {
                font-weight:bold;
              }
            }
          }
        }
      }
    }
  }

  .line-3 {
    .quickview-full-spec {
      float: left;
      display: block;
      width: 150px;
      background-color: black;
      height: 40px;
      margin-left: -6px;
      text-decoration: none;

      a {
        line-height: 40px;
        font-family: 'houschka_alt_prodemibold';
        color: #FFFFFF;
        font-size: 14px;
        padding: 0 0 0 15px;
        text-decoration: none;
      }
    }



    .add-to-cart {
      float: right;
      display: block;
      width: 150px;
    }
  }


}



///////////////////plugin styles///////////////////
#dialog{margin:3px;}
/* Z-index of #mask must lower than #boxes .window */
#mask {
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:fixed;
  width:0px;
  height:0px;
  display:none;
  z-index:9999;
  padding:5px;
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  border:5px solid #D2B9D3;
  background-color:#EBDDE2;
  width:550px;
  height:400px;
  overflow-x: hidden;
  overflow-y: auto;
}
