@import "../partials/mixins";

.wrapper{
  .header-container {
    .header{
      .top-quick-links,.call-us,.quick-access{
       // display: none;
      }

    }
    .fixed-container{
      .cms-menu{
        .small-x-logo{

        }
      }

      nav{

      }
    }
  }
  .menu-search-wrapper{
    max-width: 100%;
    padding: 0;
    .cms-menu{
      max-width: 100%;
      //display: none;
    }
    .search-row{
      margin-right: 0;
      margin-left: 0;
    }
    .search-box{
      max-width: 100%;
    }
    &:after,&:before{
      display: none;
    }

  }
  .navbar-container{
    .navbar{
      max-width: 100%;
    }
  }
}
.product-view .product-shop .add-to-box .add-to-cart{
  float: left !important;
}