.search-box { position: relative; max-width: 966px; margin: 0 auto; float: none; height: 197px; background: url("../images/search-box-bg.jpg") no-repeat; background-size: 100%; }

.main-container .col-main .category-products .products-grid { width: 100%; float: left; }
.main-container .col-main .category-products .products-grid li.item { width: 22%; float: left; margin: 1%; }
