html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

body { font-size: 14px; font-family: arial, helvetica, "sans serif"; -webkit-font-smoothing: antialiased; }

.wrapper { min-width: 0; width: 100%; }

.menu-search-wrapper { width: 100%; max-width: 1260px; margin: 0 auto; color: #fff; position: relative; }
.menu-search-wrapper:after { content: ''; line-height: 0; font-size: 0; width: 0; height: 0; border-top: 67px solid #000; border-bottom: 0px solid transparent; border-left: 0px solid transparent; border-right: 30px solid transparent; position: absolute; top: 0; right: 1px; }
.menu-search-wrapper:before { content: ''; line-height: 0; font-size: 0; width: 0; height: 0; border-top: 67px solid #000; border-bottom: 0px solid transparent; border-left: 30px solid transparent; border-right: 0px solid transparent; position: absolute; top: 0; left: 0; }

.navbar { max-width: 1200px; margin: 0 auto; border-radius: 0; min-height: 42px; background: #000; }
.navbar .container { width: 100%; padding: 0; }
.navbar .container #nav { width: 100%; }
.navbar .container #nav li { width: 10%; margin: 0 1%; }
.navbar .container #nav li:hover { background: #342323; }
.navbar .container #nav li a { font-family: 'houschkaalt-medium-regular'; font-weight: normal; line-height: 29px; padding: 5px 20px 6px 20px; color: #e3e3e3; font-size: 16px; }

.main { width: 100%; max-width: 1200px; box-sizing: border-box; padding: 20px 1%; background: #ffffff; min-height: 0; }

.footer-container { width: 100%; }
.footer-container .footer { width: 100%; box-sizing: border-box; padding: 0; min-height: 0; }
.footer-container .footer .custom_tweets { max-width: 1200px; margin: 0 auto; background: #000; width: 100%; box-sizing: border-box; padding: 20px 65px; color: #fff; }
.footer-container .footer .custom_tweets h3 { font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; color: #ff0000; font-size: 16px; font-style: normal; text-align: left; }
.footer-container .footer .custom_tweets p { font-family: 'houschka_alt_prodemibold'; font-size: 14px; text-align: left; line-height: 18px; padding: 10px 0; }
.footer-container .footer .custom_tweets .date { font-family: 'houschka_alt_promedium'; font-style: normal; font-weight: normal; float: left; font-size: 12px; }
.footer-container .footer .custom_tweets .qoute { padding-top: 30px; }
.footer-container .footer .custom_tweets .qoute span { font-family: 'houschkaalt-heavy-italic-regular'; font-size: 27px; line-height: 30px; font-style: normal; font-weight: normal; position: relative; }
.footer-container .footer .custom_tweets .qoute span:before { content: url("../images/open-qoute.png"); position: absolute; left: -23px; top: -8px; }
.footer-container .footer .custom_tweets .qoute span:after { content: url("../images/close-qoute.png"); float: right; position: absolute; right: -22px; top: 7px; }
.footer-container .footer .custom_red_triangle { margin: 0 auto; max-width: 1200px; width: 100%; position: relative; }
.footer-container .footer .custom_red_triangle img { width: 100%; max-width: 100%; }
.footer-container .footer .custom_red_triangle .call_us { position: absolute; bottom: 0; left: 50%; bottom: 54px; margin-left: -70px; width: 140px; text-align: center; }
.footer-container .footer .custom_red_triangle .call_us .custom_x_logo { width: 142px; height: 96px; background: url("../images/sprite.png") no-repeat 0 -562px transparent; text-align: left; text-indent: -3000px; }
.footer-container .footer .custom_red_triangle .call_us .label { font-family: 'houschka_alt_prodemibold'; font-size: 14px; font-style: normal; font-weight: normal; color: #fff; }
.footer-container .footer .custom_red_triangle .call_us .phone_no { font-family: 'houschka_alt_probold'; font-weight: normal; color: #fff; font-size: 15px; }

.footer_links_wrapper { margin-top: 58px; width: 100%; border-top: 4px solid #ff0000; background: #fff; float: left; padding-bottom: 20px; }
.footer_links_wrapper .footer_links_subwrapper { padding: 23px 5% 32px; margin: 0 auto; max-width: 1200px; width: 100%; box-sizing: border-box; }
.footer_links_wrapper .footer_links_subwrapper .block-content, .footer_links_wrapper .footer_links_subwrapper .block { background: transparent; border: none; }
.footer_links_wrapper .footer_links_col2, .footer_links_wrapper .footer_links_col2, .footer_links_wrapper .config_footer_links { float: left; width: 16%; text-align: left; }
.footer_links_wrapper .footer_links_col2 ul li, .footer_links_wrapper .footer_links_col2 ul li, .footer_links_wrapper .config_footer_links ul li { display: block; float: left; width: 100%; }
.footer_links_wrapper h4 { font-family: 'houschka_alt_probold'; font-size: 12px; font-weight: normal; font-style: normal; text-transform: uppercase; margin-bottom: 10px; }
.footer_links_wrapper ul li { display: block; float: left; width: 100%; font-family: 'houschka_alt_promedium'; font-style: normal; font-weight: normal; padding: 4px 0; }
.footer_links_wrapper ul li a { font-family: 'houschka_alt_promedium'; font-style: normal; font-weight: normal; font-size: 13px; }

.footer_brand_section { float: left; padding-top: 27px; padding-bottom: 30px; width: 100%; border-top: 4px solid #000; }
.footer_brand_section h3 { padding-bottom: 23px; font-family: 'houschka_alt_probold'; font-size: 12px; font-weight: normal; text-transform: uppercase; color: #000; }
.footer_brand_section ul li { display: inline-block; margin: 0 10px; }
.footer_brand_section ul li a { max-width: 87px; display: block; }
.footer_brand_section ul li a img { max-width: 100%; }

.footer-bottom { float: left; width: 100%; text-align: center; padding: 30px 0 15px; }
.footer-bottom .logo { width: 235px; margin: 0 auto; float: none; display: block; }
.footer-bottom .logo img { max-width: 100%; }
.footer-bottom .footer_copyright_links { padding-top: 20px; color: #6d6d6d; }
.footer-bottom .footer_copyright_links ul li { display: inline-block; }
.footer-bottom .footer_copyright_links ul li a { color: #6d6d6d; text-transform: uppercase; }
.footer-bottom .footer_copyright_links ul li:first-child { padding-right: 10px; margin-right: 10px; border-right: 1px solid #6d6d6d; }

.footer_social_newsletter { float: right; width: 30%; }
.footer_social_newsletter .form-subscribe-header { text-align: left; }
.footer_social_newsletter .form-subscribe-header label { color: #ff0000; text-transform: uppercase; font-size: 12px; font-family: 'houschka_alt_probold'; font-weight: normal; }
.footer_social_newsletter .v-fix { width: 100%; margin-top: 8px; position: relative; background: #fff; float: left; border: 1px solid #666666; }
.footer_social_newsletter .v-fix .newsletter-input { float: left; width: 80%; box-sizing: border-box; }
.footer_social_newsletter .v-fix button { width: 27px; height: 19px; background: url("../images/sprite.png") no-repeat -3px -740px; position: absolute; top: 6px; right: 9px; z-index: 1000; text-align: left; text-indent: -3000px; }
.footer_social_newsletter .v-fix input { border: none; width: 88%; padding: 7px 6% 7px 6%; color: #aaaaaa; font-size: 14px; font-family: arial; font-style: normal; line-height: 14px; position: relative; margin: 0px 0; }
.footer_social_newsletter .footer_social_links { text-align: left; }
.footer_social_newsletter .footer_social_links h4 { float: left; display: block; line-height: 30px; margin-bottom: 0; }
.footer_social_newsletter .footer_social_links ul { float: left; padding-left: 22px; }
.footer_social_newsletter .footer_social_links ul li { float: left; width: 25px; height: 25px; margin-left: 10px; padding: 0; }
.footer_social_newsletter .footer_social_links ul li:first-child { margin-left: 0; }
.footer_social_newsletter .footer_social_links ul li a { display: block; text-align: left; text-indent: -3000px; background: url("../images/sprite.png") no-repeat 3px -790px; height: 25px; width: 25px; }
.footer_social_newsletter .footer_social_links ul li.fb a { background-position: 3px -790px; }
.footer_social_newsletter .footer_social_links ul li.fb a:hover { background-position: -63px -790px; }
.footer_social_newsletter .footer_social_links ul li.twitter a { background-position: -26px -790px; }
.footer_social_newsletter .footer_social_links ul li.twitter a:hover { background-position: -96px -790px; }

.col2-left-layout .main { padding: 20px 1%; background: #ffffff; }

#overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.8; z-index: 1000; }

.scrollup { position: fixed; bottom: 2em; right: 0px; text-decoration: none; color: #ffffff; background-color: #ff0000; font-size: 12px; padding: 1em; display: none; }
.scrollup:hover { color: #999999; }

.breadcrumbs li a { color: #ff0000; }

.header-container { background: url("../images/page-bg.png") repeat-x top; padding-top: 2px; }
.header-container .header { width: 100%; height: 160px; margin-top: -3px; max-width: 1260px; padding: 0 30px 0 30px; background: url("../images/header-bg.png") repeat-x bottom white; box-shadow: 0 0 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(204, 204, 204, 0.8), -12px 0 15px -4px rgba(204, 204, 204, 0.8); border-bottom: 4px solid #da0000; border-top: 1px solid #d8d9d9; box-sizing: border-box; }
.header-container .header .call-us { float: left; margin-top: 105px; font-family: 'houschkaalt-medium-regular'; font-weight: normal; font-weight: normal; font-size: 12px; color: #282727; text-align: left; }
.header-container .header .call-us h2 { font-family: 'houschka_alt_probold'; font-weight: normal; color: #ff0000; font-size: 20px; }
.header-container .header .logo-div { max-width: 420px; width: 100%; margin: 0 auto; margin-top: 34px; float: none; }
.header-container .header .logo-div a.logo { width: 100%; margin: 0; }
.header-container .header .logo-div a.logo img { max-width: 100%; }
.header-container .header .top-quick-links { position: absolute; right: 30px; top: 15px; width: AUTO; }
.header-container .header .top-quick-links ul li { display: inline; float: left; line-height: 12px; }
.header-container .header .top-quick-links ul li:first-child { border-right: 1px solid #000; padding-right: 5px; margin-right: 5px; }
.header-container .header .top-quick-links ul li a { font-family: 'houschkaalt-bold-regular'; font-weight: normal; font-size: 12px; color: #000; font-weight: normal; text-transform: uppercase; }
.header-container .fixed-nav-links { display: none; margin-top: 0; }

.quick-access { float: right; margin-top: 83px; }
.quick-access .links li { background: url("../images/sprite.png") no-repeat 0 0; width: 45px; height: 38px; padding: 0; margin-left: 7px; }
.quick-access .links li:first-child { margin-left: 0; }
.quick-access .links li a { text-align: left; display: block; float: left; text-indent: -3000px; width: 45px; height: 38px; background: url("../images/sprite.png") no-repeat; }
.quick-access .links li a.top-link-home:before { content: "\f015"; line-height: 42px; font-family: fontawesome; display: block; text-indent: 0; text-align: center; font-size: 18px; color: #fff; }
.quick-access .links li a.top-link-cart { position: relative; }
.quick-access .links li a.top-link-cart:before { content: "\f07a"; line-height: 42px; font-family: fontawesome; display: block; text-indent: 0; text-align: center; font-size: 18px; color: #fff; }
.quick-access .links li a.top-link-cart .cart-count { font-family: 'houschka_alt_probold'; display: block; width: 13px; height: 13px; background: #000; position: absolute; right: 8px; text-indent: 0; font-size: 12px; color: #fff; top: 10px; line-height: 13px; text-align: center; }
.quick-access .links li a.top-link-customer:before { content: "\f007"; line-height: 42px; font-family: fontawesome; display: block; text-indent: 0; text-align: center; font-size: 18px; color: #fff; }
.quick-access .links li a.top-link-customer.logged-in:before { color: #000000; }
.quick-access .links li a:hover { text-decoration: none; }
.quick-access .links-wrapper { float: left; width: 100%; position: relative; }
.quick-access .account-drop-down { background: #000; position: absolute; top: 42px; left: 0; width: 100%; box-shadow: -1px 1px 4px #4d4c4c; }
.quick-access .account-drop-down ul li { margin-bottom: 1px; }
.quick-access .account-drop-down ul li:not(:last-of-type) { border-bottom: 1px solid #212121; }
.quick-access .account-drop-down ul li a { display: block; line-height: 16px; padding: 12px 15px; font-family: 'houschka_alt_prodemibold'; text-transform: capitalize; color: #e3e3e3; font-size: 13px; text-align: left; font-weight: normal; }
.quick-access .account-drop-down ul li a:hover { text-decoration: none; background: #474646; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

.cms-index-index .page-title { display: none; }
.cms-index-index .main { padding: 0; }
.cms-index-index .main #product-slider { margin-bottom: 0; float: left; width: 100%; padding-top: 38px; background: #f1f2f2; margin-top: 5px; position: relative; }
.cms-index-index .main #product-slider .head h2 { position: absolute; top: 14px; left: 0; background: #ff0000; color: #fff; padding: 0 42px 0 70px; line-height: 46px; font-family: 'houschkaalt-light-regular'; font-weight: normal; font-size: 30px; z-index: 300; }
.cms-index-index .main #product-slider .head h2:after { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 0, 0, 0); border-left-color: #ff0000; border-width: 23px 0 23px 11px; margin-top: -23px; }

.youama-slider-block { box-shadow: 0px -2px 5px #9B9B9B; float: left; width: 100%; }

.custom_footer_wrapper { margin-top: 5px; padding-top: 38px; box-shadow: 0px -2px 5px #9B9B9B; float: left; width: 100%; }
.custom_footer_wrapper .custom_footer_static_block { background: #f1f2f2; padding: 38px 65px 20px 65px; width: 100%; box-sizing: border-box; border-top: 1px solid #000; position: relative; float: left; width: 100%; }
.custom_footer_wrapper .custom_footer_static_block h2 { position: absolute; top: -25px; left: 0; background: #000000; color: #fff; padding: 0 42px 0 70px; line-height: 46px; font-family: 'houschkaalt-light-regular'; font-weight: normal; font-size: 30px; }
.custom_footer_wrapper .custom_footer_static_block h2:after { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 0, 0, 0); border-left-color: #000000; border-width: 23px 0 23px 11px; margin-top: -23px; }
.custom_footer_wrapper .custom_footer_static_block h3 { font-family: 'houschka_alt_probold'; font-weight: normal; color: #000; font-size: 18px; margin-bottom: 15px; }
.custom_footer_wrapper .custom_footer_static_block .custom_row1_col1, .custom_footer_wrapper .custom_footer_static_block .custom_row1_col2, .custom_footer_wrapper .custom_footer_static_block .custom_row1_col3 { float: left; width: 25%; }
.custom_footer_wrapper .custom_footer_static_block .custom_row1_col1 { width: 52%; }
.custom_footer_wrapper .custom_footer_static_block .custom_row1_col2 { width: 16%; text-align: center; }
.custom_footer_wrapper .custom_footer_static_block .custom_row1_col3 { width: 32%; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

.col-left .block-account { border: 3px solid red; }
.col-left .block-account .block-title { background-color: red; height: 35px; margin-bottom: 0; }
.col-left .block-account .block-title h2, .col-left .block-account .block-title strong { font-size: 16px; color: #ffffff; font-family: 'houschka_alt_probold'; line-height: 35px; text-align: center; }
.col-left .block-account li { background: none; line-height: 30px; margin: 0; border-bottom: 1px solid #e3e3e3; color: #585858; font-family: 'houschka_alt_promedium'; font-size: 14px; font-weight: normal; }
.col-left .block-account li:last-of-type { border-bottom: none; }

.login-register .page-title { border-bottom: none; }
.login-register h2 { font-family: 'houschka_alt_probold'; font-weight: normal; color: #000; font-size: 18px; margin-bottom: 15px; }
.login-register h3 { font-family: 'houschka_alt_promedium'; font-weight: bold; font-size: 18px; color: black; text-transform: none; margin-bottom: 15px; padding-left: 0; }
.login-register p { font-family: 'houschka_alt_prodemibold'; font-size: 14px; text-align: left; line-height: 18px; padding: 10px 0; }
.login-register .buttons-set button.button { margin-left: 0; float: left; font-family: 'houschka_alt_probold'; color: #fff; font-size: 14px; font-style: normal; font-weight: normal; background: url("../images/sprite.png") no-repeat 0 -1307px; width: 130px; height: 34px; }
.login-register .buttons-set button.button:hover { opacity: 0.8; }
.login-register .buttons-set button.button.btn-login { margin-left: 15px; }
.login-register .f-password { font-size: 12px; }
.login-register input[type="checkbox"] { display: none; }
.login-register input[type="checkbox"] + label { font-size: 16px; color: #000; font-family: 'houschka_alt_probold'; cursor: pointer; line-height: 20px; display: block; }
.login-register input[type="checkbox"] + label span { display: inline-block; margin: -2px 18px 0 0; vertical-align: middle; background: url("../images/selects.png") no-repeat -2px -40px; background-size: 22px 100px; width: 18px; height: 17px; cursor: pointer; }
.login-register input[type="checkbox"]:checked + label span { background: url("../images/selects.png") no-repeat -2px -64px; background-size: 22px 100px; width: 18px; height: 18px; }
.login-register input[type="text"], .login-register input[type="email"], .login-register input[type="password"] { border-radius: 0; background: none; border: 3px solid #dadada; height: 37px; line-height: 20px; padding-left: 15px; }
.login-register input[type="text"]:-webkit-autofill, .login-register input[type="email"]:-webkit-autofill, .login-register input[type="password"]:-webkit-autofill { background-color: transparent !important; }
.login-register input[type="text"]::-webkit-input-placeholder, .login-register input[type="email"]::-webkit-input-placeholder, .login-register input[type="password"]::-webkit-input-placeholder { color: #aeaeae; font-size: 16px; font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; }
.login-register input[type="text"]:-moz-placeholder, .login-register input[type="email"]:-moz-placeholder, .login-register input[type="password"]:-moz-placeholder { color: #aeaeae; font-size: 16px; font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; }
.login-register input[type="text"]::-moz-placeholder, .login-register input[type="email"]::-moz-placeholder, .login-register input[type="password"]::-moz-placeholder { color: #aeaeae; font-size: 16px; font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; }
.login-register input[type="text"]:-ms-input-placeholder, .login-register input[type="email"]:-ms-input-placeholder, .login-register input[type="password"]:-ms-input-placeholder { color: #aeaeae; font-size: 16px; font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; }
.login-register .form-group label { color: red; text-transform: uppercase; font-size: 12px; font-family: 'houschka_alt_probold'; margin-bottom: 9px; }
.login-register a.fogot-pw-link { text-decoration: underline; font-family: 'houschka_alt_promedium'; color: #000; padding: 10px 0; }
.login-register p.required { color: #12b55b; }

.account-create h2 { padding-left: 15px; }
.account-create .login-info { margin-top: 30px; }
.account-create .buttons-set { padding: 20px 15px; }

.my-account { line-height: 20px; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

.dms-productrepairs-index-index h1 { font-size: 42px; font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; color: #fff; float: left; width: 100%; border-bottom: 3px solid #fff; }
.dms-productrepairs-index-index .main.container { background: red; padding: 20px 30px 0 30px; }
.dms-productrepairs-index-index .main.container .img-wrapper { margin-left: -30px; margin-bottom: -3px; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

button, input { -moz-outline: none !important; }
button:focus, input:focus { outline: 0 !important; -moz-outline: none !important; }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }

.required em { color: #12b55b; }

.cms-index-index .search-box { margin: 0 auto; float: none; height: 197px; }
.cms-index-index .search-box .form-search { padding-top: 0; }
.cms-index-index .search-box .form-search .search-label { padding-bottom: 15px; padding-top: 38px; font-size: 40px; float: none; width: 100%; text-align: center; line-height: 43px; }
.cms-index-index .search-box .form-search .arrow_box:after, .cms-index-index .search-box .form-search .arrow_box:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.cms-index-index .search-box .form-search .search-inputs { position: relative; background: #fff; border: 2px solid #000000; display: inline-block; height: 64px; border: 2px solid #000000; position: relative; width: 100%; max-width: 538px; float: none; text-align: left; border-right: 0; z-index: 9998; }
.cms-index-index .search-box .form-search .search-inputs:after, .cms-index-index .search-box .form-search .search-inputs:before { left: 100%; top: 53%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.cms-index-index .search-box .form-search .search-inputs:after { border-color: rgba(255, 255, 255, 0); border-left-color: #fff; border-width: 30px; margin-top: -32px; }
.cms-index-index .search-box .form-search .search-inputs:before { border-color: rgba(0, 0, 0, 0); border-left-color: #000000; border-width: 33px; margin-top: -35px; }
.cms-index-index .search-box .form-search .search-inputs input { float: left; width: 95%; width: -moz-calc(96% - 40px); width: -o-calc(96% - 40px); width: -webkit-calc(96% - 40px); width: calc(96% - 40px); border: none; height: 56px; line-height: 45px; padding: 5px 2%; font-weight: normal; font-family: 'houschkaalt-heavy-italic-regular'; color: #aeaeae; font-size: 18px; font-style: normal; text-align: left; }
.cms-index-index .search-box .form-search .search-inputs input:focus { box-shadow: none; border-color: transparent; }
.cms-index-index .search-box .form-search .search-inputs .input-group-btn { float: right; width: 40px; margin-top: 18px; }
.cms-index-index .search-box .form-search .search-inputs .input-group-btn button { width: 100%; background-color: transparent; }
.cms-index-index .search-box .form-search .search-inputs .input-group-btn button span { display: block; width: 100%; height: 30px; text-align: left; text-indent: -3000px; background: url("../images/sprite.png") 0 -222px transparent no-repeat; border: none; }
.cms-index-index .search-box .form-search .search-inputs .input-group-btn button:hover { background: none; }
.cms-index-index .search-box .form-search .search-inputs .input-group-btn button:hover span { background-position: -60px -222px; }
.cms-index-index .search-box .form-search .search-inputs #search.overlay { z-index: 99999; position: relative; }
.cms-index-index .search-box .form-search .filter-results { display: none; color: #fff; font-family: 'houschkaalt-bold-regular'; font-weight: normal; font-size: 15px; text-decoration: underline; margin-top: 13px; display: inline-block; }

.search-box { position: relative; max-width: 1200px; margin: 0 auto; float: none; height: 86px; background: url("../images/search-box-bg.jpg") no-repeat; background-size: 100%; }
.search-box .black-arrow { position: absolute; left: 50%; margin-left: -32px; width: 64px; top: 0; height: 14px; background: url("../images/sprite.png") no-repeat 0 -186px; }
.search-box .form-search { padding-top: 25px; position: relative; }
.search-box .form-search .search-close { display: none; position: absolute; top: 10px; right: 10px; width: 13px; height: 13px; background: url("../images/sprite.png") no-repeat -62px -987px; text-align: left; text-indent: -3000px; }
.search-box .form-search .search-label { float: left; width: 44%; text-align: right; line-height: 43px; font-size: 30px; font-family: 'houschkaalt-light-regular'; font-weight: normal; }
.search-box .form-search .mobile-search-label { display: none; }
.search-box .form-search .arrow_box { position: relative; background: #88b7d5; border: 4px solid #c2e1f5; }
.search-box .form-search .arrow_box:after, .search-box .form-search .arrow_box:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.search-box .form-search .arrow_box:after { border-color: rgba(136, 183, 213, 0); border-left-color: #88b7d5; border-width: 89px; margin-top: -89px; }
.search-box .form-search .arrow_box:before { border-color: rgba(194, 225, 245, 0); border-left-color: #c2e1f5; border-width: 95px; margin-top: -95px; }
.search-box .form-search .search-inputs { position: relative; background: #fff; border: 2px solid #000000; display: inline-block; height: 42px; border: 2px solid #000000; position: relative; width: 49%; margin-left: 1%; max-width: 385px; float: left; border-right: 0; text-align: left; }
.search-box .form-search .search-inputs:after, .search-box .form-search .search-inputs:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.search-box .form-search .search-inputs:after { border-color: rgba(255, 255, 255, 0); border-left-color: #fff; border-width: 18px; margin-top: -18px; }
.search-box .form-search .search-inputs:before { border-color: rgba(0, 0, 0, 0); border-left-color: #000; border-width: 21px; margin-top: -21px; }
.search-box .form-search .search-inputs input { float: left; width: 95%; width: -moz-calc(98% - 40px); width: -o-calc(98% - 40px); width: -webkit-calc(98% - 40px); width: calc(98% - 40px); border: none; height: 37px; line-height: 32px; padding: 5px 1%; font-weight: normal; font-family: 'houschkaalt-heavy-italic-regular'; color: #aeaeae; font-size: 18px; font-style: normal; text-align: center; }
.search-box .form-search .search-inputs input:focus { box-shadow: none; border-color: transparent; }
.search-box .form-search .search-inputs .input-group-btn { float: right; width: 40px; margin-top: 8px; }
.search-box .form-search .search-inputs .input-group-btn button { width: 100%; background-color: transparent; }
.search-box .form-search .search-inputs .input-group-btn button span { display: block; width: 100%; height: 30px; text-align: left; text-indent: -3000px; background: url("../images/sprite.png") 0 -222px transparent no-repeat; border: none; }
.search-box .form-search .search-inputs .input-group-btn button:hover { background: none; }
.search-box .form-search .search-inputs .input-group-btn button:hover span { background-position: -60px -222px; }
.search-box .form-search .filter-results { display: none; }

body.overlay .search-label, body.overlay .search-inputs, body.overlay .filter-results { z-index: 9998; position: relative; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

#list-items { float: left; width: 100%; border-top: 1px solid #ff0000; padding-top: 33px; }
#list-items #slider-content { width: 100% !important; height: auto !important; background: #ffffff; border: none; }
#list-items #slider-content #sl-screen { height: 171px !important; padding-left: 0; }
#list-items #slider-content #sl-screen #sl-view { height: auto !important; }
#list-items #slider-content #sl-screen #left { background: url("../images/sprite.png") 9px -823px black; left: 0px; }
#list-items #slider-content #sl-screen #right { background: url("../images/sprite.png") -55px -823px black; right: 0px; }
#list-items #slider-content #sl-screen .jq-ss-crop { width: 100% !important; }
#list-items #slider-content #sl-images li { max-width: 120px; margin: 0 16px; height: 186px !important; }
#list-items #slider-content #sl-images li .item button.btn-cart { display: none; }
#list-items #slider-content #sl-images li .item { width: 100% !important; }
#list-items #slider-content #sl-images li .item .product-img { width: 100% !important; }
#list-items #slider-content #sl-images li .item .product-img .product-image { width: 100% !important; background: none; }
#list-items #slider-content #sl-images li .item .product-img .product-image a { display: block; width: 100%; height: 100%; text-align: center; }
#list-items #slider-content #sl-images li .item .product-img .product-image a img { max-width: 100%; margin: 0 auto; height: 100%; }
#list-items #slider-content #sl-images li .item .product-info { text-align: center; }
#list-items #slider-content #sl-images li .item .product-info .price-name-wrapper .desc { display: none; }
#list-items #slider-content #sl-images li .item .product-info .product-name { height: 31px; overflow: hidden; }
#list-items #slider-content #sl-images li .item .product-info .product-name a { font-family: 'houschka_alt_prodemibold'; font-weight: normal; font-size: 12px; color: #000; width: 100%; line-height: 15px; display: block; text-transform: lowercase; }
#list-items #slider-content #sl-images li .item .product-info .price-box span { font-size: 22px; font-family: 'houschka_alt_probold'; font-weight: normal; }
#list-items #slider-content #sl-images li .item .product-info .price-box span.regular-price { color: #ff0000; }
#list-items #slider-content #sl-images li .item .product-info .slider-action-wrapper { display: none; }
#list-items #slider-content #sl-images li .item .product-info.selected { position: relative; background: #ff0000; padding: 0 5px; height: 58px; z-index: 999; padding-right: 5px; color: #fff; margin: 0; width: 94px; box-sizing: border-box; bottom: 0px; -webkit-animation: moveUp 1s; -moz-animation: moveUp 1s; @-webkit-keyframes moveUp { from { bottom: -77px; }
  to { bottom: 0px; } }
 @-moz-keyframes moveUp { from { bottom: -77px; }
  to { bottom: 0px; } }
 }
#list-items #slider-content #sl-images li .item .product-info.selected:after { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 0, 0, 0); border-bottom-color: #ff0000; border-width: 0 48.5px 28px 48.5px; margin-left: -49px; }
#list-items #slider-content #sl-images li .item .product-info.selected .product-name-wrapper { display: none; }
#list-items #slider-content #sl-images li .item .product-info.selected .price-name-wrapper { margin-top: 16px; }
#list-items #slider-content #sl-images li .item .product-info.selected .price-name-wrapper .desc { display: none; }
#list-items #slider-content #sl-images li .item .product-info.selected .price-name-wrapper .price-html { padding-top: 5px; }
#list-items #slider-content #sl-images li .item .product-info.selected .price-name-wrapper .price-html .price-box span { color: #fff; font-size: 18px; }
#list-items #slider-hover-details { display: none; float: left; width: 100%; color: #fff; background: #ff0000; padding: 18px 5%; }
#list-items #slider-hover-details .price-name-wrapper { float: left; width: 65%; }
#list-items #slider-hover-details .price-name-wrapper .product-name a { color: #fff; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; padding-bottom: 10px; text-decoration: none; }
#list-items #slider-hover-details .price-name-wrapper .product-name a:hover { text-decoration: none; }
#list-items #slider-hover-details .price-name-wrapper .desc { color: #fff; font-family: 'houschka_alt_promedium'; font-size: 14px; font-weight: normal; line-height: 18px; }
#list-items #slider-hover-details .price-name-wrapper .price-box span { color: #fff; }
#list-items #slider-hover-details .slider-action-wrapper { float: right; width: 228px; }
#list-items #slider-hover-details .slider-action-wrapper a, #list-items #slider-hover-details .slider-action-wrapper button { display: block; width: 100%; position: relative; background: #fff; padding-right: 15px; display: block; width: 221px; text-align: right; line-height: 36px; height: 36px; font-family: 'houschka_alt_prodemibold'; font-weight: normal; font-size: 16px; color: #ff0000; padding-left: 10px; }
#list-items #slider-hover-details .slider-action-wrapper a:after, #list-items #slider-hover-details .slider-action-wrapper button:after { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 19px 11px 19px 0; margin-top: -19px; }
#list-items #slider-hover-details .slider-action-wrapper a { margin-bottom: 3px; }
#list-items #slider-hover-details .slider-action-wrapper a:before { content: url("../images/full-desc.png"); float: left; line-height: 42px; }
#list-items #slider-hover-details .slider-action-wrapper a:hover { text-decoration: none; }
#list-items #slider-hover-details .slider-action-wrapper button span { float: none; background: none; }
#list-items #slider-hover-details .slider-action-wrapper button span span { font-family: 'houschka_alt_prodemibold'; color: #ff0000; font-size: 16px; text-align: right; }
#list-items #slider-hover-details .slider-action-wrapper button:before { content: url("../images/add-to-bag.png"); float: left; line-height: 42px; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

#custommenu div.menu { width: 10.5%; margin: 0 1%; }
#custommenu div.menu a { font-family: 'houschkaalt-medium-regular'; font-weight: normal; text-transform: capitalize; padding: 0px 20px 0px 20px; color: #e3e3e3; font-size: 16px; }
#custommenu div.menu a:hover { background: #474646; }
#custommenu div.menu a span { color: #fff; line-height: 40px; padding-top: 0; height: auto; }
#custommenu div.menu.active a { background: #000 !important; color: #e3e3e3 !important; position: relative; z-index: 20000; }
#custommenu div.menu.active a:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 0, 0, 0); border-top-color: #000; border-width: 15px; margin-left: -15px; }
#custommenu div.wp-custom-menu-popup { background: #fff; padding: 33px 62px; box-sizing: border-box; top: 42px !important; }
#custommenu div.wp-custom-menu-popup .itemMenu > a.itemMenuName { padding-left: 0; padding-bottom: 7px; margin-bottom: 6px; }
#custommenu div.wp-custom-menu-popup .itemMenu > a.itemMenuName span { display: inline; border-bottom: 1px solid #fff; }
#custommenu div.wp-custom-menu-popup .itemMenu > a.itemMenuName:hover { background: none; }
#custommenu div.wp-custom-menu-popup .itemMenu > a.itemMenuName:hover span { color: #ff0000; border-bottom: 1px solid #ff0000; }
#custommenu div.wp-custom-menu-popup .itemMenu .itemSubMenu { display: none; }
#custommenu div.wp-custom-menu-popup .itemMenu .itemSubMenu a.itemMenuName { border-bottom: none; text-transform: lowercase; padding-bottom: 3px; line-height: 20px; margin-bottom: 0; }
#custommenu div.wp-custom-menu-popup .block1, #custommenu div.wp-custom-menu-popup .block2 { float: left; width: 100%; }
#custommenu div.wp-custom-menu-popup .block2 { margin-left: 2%; }
#custommenu div.wp-custom-menu-popup .block_title { font-family: 'houschkaalt-bold-italic-regular'; font-weight: normal; font-style: normal; font-size: 25px; color: #000; border-bottom: 1px solid #ff0000; margin-bottom: 20px; }
#custommenu div.wp-custom-menu-popup .block1 .column { float: left; width: 32%; margin-left: 2%; }
#custommenu div.wp-custom-menu-popup .block1 .column.first { margin-left: 0; }
#custommenu div.wp-custom-menu-popup .block1 .column .itemMenu a { color: #000; font-family: 'houschka_alt_prodemibold'; font-size: 15px; font-weight: normal; }
#custommenu .best-seller .productScrollWrap { float: left; width: 100%; }
#custommenu .best-seller .productScrollWrap .bestseller_wrapper li { float: left; width: 33%; padding-left: 10px; padding-right: 10px; }
#custommenu .best-seller .productScrollWrap .bestseller_wrapper li a img { max-width: 100%; }
#custommenu .best-seller .productScrollWrap .bx-wrapper .bx-viewport { height: 280px !important; }
#custommenu .best-seller .product-details a { text-align: center; font-family: 'houschka_alt_prodemibold'; font-size: 14px; line-height: 120%; color: #000; display: block; height: 40px; padding: 5px 0; overflow: hidden; }
#custommenu .best-seller .product-details .bestseller_price { display: block; border-top: 1px solid #bbbbbb; float: left; width: 100%; font-family: 'houschkaalt-bold-regular'; font-weight: normal; color: #ff0000; text-align: center; padding: 8px 5px; line-height: 120%; }
#custommenu .best-seller .product-details .bestseller_price .price-box .regular-price { font-family: 'houschkaalt-bold-regular'; font-weight: normal; color: #ff0000; }
#custommenu .best-seller .product-details .bestseller_price .price-box .regular-price span { font-family: 'houschkaalt-bold-regular'; font-weight: normal; color: #ff0000; font-size: 22px; font-weight: normal; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

.quickview-main { position: relative; }
.quickview-main .close { display: block; position: absolute; top: 0; right: 0; background: black url("../images/sprite.png") no-repeat -52px -979px; height: 31px; width: 35px; text-align: center; text-indent: -3000px; opacity: 1; }
.quickview-main .close:hover { opacity: 0.5; }

.quickview-wrapper { background-color: #ffffff; padding: 20px; }
.quickview-wrapper .line-2 { min-height: 280px; }
.quickview-wrapper .line-2 .product-img-box { float: left; max-width: 45%; width: 45%; margin: 0 0 0 10px; border-right: 1px solid #d9d9d9; }
.quickview-wrapper .line-2 .product-img-box img { max-width: 90%; }
.quickview-wrapper .line-2 .product-shop { max-width: 45%; width: 45%; float: left; padding: 0 0 0 20px; }
.quickview-wrapper .line-2 .product-shop .product-name a { text-decoration: none; text-transform: capitalize; }
.quickview-wrapper .line-2 .product-shop .product-name a h2 { font-family: 'houschka_alt_probold'; color: #000000; font-size: 18px; line-height: 25px; font-weight: normal; }
.quickview-wrapper .line-2 .product-shop .reveiew_summary_quickview .no-rating a { font-size: 11px; }
.quickview-wrapper .line-2 .product-shop .short-desc { font-size: 14px; padding: 18px 0 0 0; line-height: 18px; }
.quickview-wrapper .line-2 .product-shop .long-desc { padding-top: 19px; font-size: 14px; padding: 18px 0 18px 0; border-bottom: 1px solid #d9d9d9; }
.quickview-wrapper .line-2 .product-shop .price-box { padding: 18px 0 0 0; }
.quickview-wrapper .line-2 .product-shop .price-box .price { font-family: 'houschka_alt_prodemibold'; color: #FF0000; font-size: 30px; }
.quickview-wrapper .line-2 .product-shop .price-box .availability { padding: 10px 0 0 0; }
.quickview-wrapper .line-2 .product-shop .price-box .availability.in-stock { color: #489900; font-weight: normal; font-size: 14px; }
.quickview-wrapper .line-2 .product-shop .price-box .availability.in-stock span { font-weight: normal; }
.quickview-wrapper .line-2 .product-shop .price-box .availability.in-stock span .qty { font-weight: bold; }
.quickview-wrapper .line-3 { margin-right: -27px; }
.quickview-wrapper .line-3 .quickview-full-spec { float: left; display: block; width: 45%; height: 49px; margin-left: -6px; text-decoration: none; position: relative; }
.quickview-wrapper .line-3 .quickview-full-spec a { margin-top: 22px; line-height: 40px; font-family: 'houschka_alt_prodemibold'; color: #FFFFFF; font-size: 14px; padding: 0 32px 0 15px; text-decoration: none; line-height: 49px; background: url("../images/btn-sprite.png") no-repeat 0 -177px; display: block; width: 100%; }
.quickview-wrapper .line-3 .add-to-cart { float: right; display: block; width: 283px; position: relative; }
.quickview-wrapper .line-3 .add-to-cart label { float: left; width: 100%; display: block; font-family: 'houschka_alt_probold'; color: #2f2f2f; font-size: 16px; font-weight: normal; margin-bottom: 5px; }
.quickview-wrapper .line-3 .add-to-cart .add-qty { float: left; width: 104px; }
.quickview-wrapper .line-3 .add-to-cart .add-qty .qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -161px -309px; width: 101px; height: 51px; float: left; }
.quickview-wrapper .line-3 .add-to-cart .add-qty .qty-wrapper .qty { float: left; margin-right: 5px; border: none; width: 72px; margin-left: 6px; text-align: center; line-height: 21px; margin-top: 12px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }
.quickview-wrapper .line-3 .add-to-cart .add-qty .qty { padding: 5px 10px; width: 76px; }
.quickview-wrapper .line-3 .add-to-cart .btn-cart { background: url("../images/btn-sprite.png") no-repeat 0 -249px; width: 180px; height: 49px; float: left; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 14px; color: #fff; text-align: right; padding-right: 25px; line-height: 49px; margin-left: -7px; }
.quickview-wrapper .line-3 .add-to-cart .ajax-submit-loader { position: absolute; top: 0; left: 0; width: 100%; height: 100px; }
.quickview-wrapper .line-3 .add-to-cart .ajax-submit-loader .loading-overlay .loader { background: url("../images/ajax-loader.gif") no-repeat; height: 32px; width: 32px; margin-left: -16px; margin-top: -16px; }

.ajax-submit-loader .loading-overlay { width: 100%; height: 400px; background-color: #fff; text-align: center; opacity: 0.8; color: #000; }
.ajax-submit-loader .loading-overlay .loader { position: absolute; top: 50%; left: 50%; display: block; width: 66px; height: 66px; margin-top: -33px; margin-left: -33px; color: #000; background: url("../images/ajax-loader-large.gif") no-repeat; }

#dialog { margin: 3px; }

/* Z-index of #mask must lower than #boxes .window */
#mask { z-index: 9000; background-color: #000; display: none; }

#boxes .window { position: fixed; width: 0px; height: 0px; display: none; z-index: 9999; padding: 5px; }

/* Customize your modal window here, you can add background image too */
#boxes #dialog { background-color: #ffffff; width: 550px; height: 400px; overflow-x: hidden; overflow-y: hidden; box-shadow: 0px 0px 8px 3px #1f1f1f; padding: 0; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

.cms-menu { background: #000; padding: 1px 26px; max-width: 1200px; margin: 0 auto; }

.m-menu-wrapper { display: none; }

.cms-menu .cl-effect-21 a { color: #fff; font-size: 15px; font-family: 'houschkaalt-bold-regular'; font-weight: normal; font-weight: normal; text-decoration: none; margin: 15px 38px; }
.cms-menu .cl-effect-21 a:hover { text-decoration: none; }
.cms-menu .cl-effect-21 a:before { background: #fff; height: 1px; }
.cms-menu .cl-effect-21 a:after { background: #fff; height: 1px; }

.small-x-logo { float: left; width: 27px; height: 22px; background: url("../images/sprite.png") 0px -503px no-repeat; margin-top: 11px; text-align: left; text-indent: -3000px; margin-left: 19px; display: none; }

.qty-wrapper { background: url("../images/btn-sprite.png") no-repeat -11px -309px; width: 132px; height: 51px; float: left; }
.qty-wrapper .qty { float: left; margin-right: 5px; border: none; max-width: 100px; margin-left: 0px; text-align: center; line-height: 30px; margin-top: 2px; font-family: 'houschka_alt_probold'; font-weight: normal; font-size: 18px; color: #000; }

.fixed-container { position: fixed; display: none; top: 0; width: 100%; max-width: 100%; z-index: 1001; background: url("../images/fixed-header.png") repeat-x; }
.fixed-container .header { max-width: 100%; }
.fixed-container .header .call-us, .fixed-container .header .logo-div, .fixed-container .header .top-quick-links { display: none; }
.fixed-container .header .quick-access { margin-top: 0; }
.fixed-container .menu-search-wrapper { max-width: 100%; }
.fixed-container .menu-search-wrapper:after, .fixed-container .menu-search-wrapper:before { border: none; }
.fixed-container .cms-menu { background: transparent; max-width: 1200px; }
.fixed-container .cms-menu nav { float: left; }
.fixed-container .cms-menu nav a { line-height: 10px; padding: 9px 10px; margin: 10px 10px; }
.fixed-container .small-x-logo { display: block; }
.fixed-container .fixed-nav-links { display: block; }
.fixed-container .quick-buttons { float: right; margin-top: 0; }
.fixed-container .quick-access { float: left; width: 159px; }
.fixed-container .quick-access .links li { float: left; background: url("../images/sprite.png") no-repeat 0 -290px; width: 48px; height: 57px; padding: 0; margin-left: 7px; }
.fixed-container .quick-access .links li:first-child { margin-left: 0; }
.fixed-container .quick-access .links li a { text-align: left; display: block; float: left; text-indent: -3000px; width: 48px; height: 38px; background: url("../images/sprite.png") no-repeat; }
.fixed-container .quick-access .links li a.top-link-cart { position: relative; }
.fixed-container .quick-access .links li a.top-link-cart .cart-count { font-family: 'houschka_alt_probold'; display: block; width: 13px; height: 13px; background: #000; position: absolute; right: 8px; text-indent: 0; font-size: 12px; color: #fff; top: 10px; line-height: 13px; text-align: center; }
.fixed-container .action-btns-div { float: left; width: 106px; margin-left: 4px; }
.fixed-container .action-btns-div ul li { float: left; width: 49px; }
.fixed-container .action-btns-div ul li.search { margin-right: 8px; text-align: left; display: block; float: left; text-indent: -3000px; width: 49px; height: 56px; background: url("../images/sprite.png") no-repeat; background-position: 0 -362px; }
.fixed-container .action-btns-div ul li.search a { display: block; width: 100%; height: 56px; background: none; background-position: 13px -438px; }
.fixed-container .action-btns-div ul li.search a:before { content: "\f002"; line-height: 46px; font-family: fontawesome; display: block; text-indent: 0; text-align: center; font-size: 18px; color: #000; }
.fixed-container .action-btns-div ul li.search a:hover { text-decoration: none; }
.fixed-container .action-btns-div ul li .f-nav-menu-link { margin-top: 3px; display: block; width: 100%; height: 45px; cursor: pointer; }
.fixed-container .action-btns-div ul li .f-nav-menu-link i { line-height: 44px; font-size: 24px; display: block; color: #fff; }
.fixed-container .action-btns-div ul li .f-nav-menu-link:hover { background-color: #ccc; color: #fff; text-decoration: none i; text-decoration-color: #fff; }
.fixed-container .welcome-msg { display: none; }

.navbar-container.f-nav-sub { position: fixed; top: 47px; width: 100%; max-width: 100%; z-index: 1000; }

.bx-wrapper { margin-bottom: 0; }
.bx-wrapper .bx-prev { background: url("../images/sprite.png") no-repeat 3px -1113px; }
.bx-wrapper .bx-prev:hover { background-position: -82px -1113px; }
.bx-wrapper .bx-next { background: url("../images/sprite.png") no-repeat -42px -1113px; }
.bx-wrapper .bx-next:hover { background-position: -123px -1113px; }
.bx-wrapper .bx-pager { bottom: 11px; }
.bx-wrapper .bx-controls-direction a { z-index: 999; }

.cms-index-index .bx-wrapper .bx-pager { text-align: right; padding-right: 25px; padding-bottom: 10px; }
.cms-index-index .bx-wrapper .bx-pager .bx-pager-item a { text-align: left; text-indent: -3000px; }
.cms-index-index .bx-wrapper .bx-pager.bx-default-pager a { background: #767676; }
.cms-index-index .bx-wrapper .bx-pager.bx-default-pager a.active { background: #ff0000; }

@media (min-width: 1025px) { .col2-left-layout .col-left { width: 24%; }
  .dl-menuwrapper { display: none !important; } }
