<?xml version="1.0"?>
<config>
    <modules>
        <DMS_Productwidget>
            <version>0.1.1</version>
        </DMS_Productwidget>
    </modules>
    <global>
        <helpers>
            <productwidget>
                <class>DMS_Productwidget_Helper</class>
            </productwidget>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>DMS_Productwidget_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
            <productwidget>
                <class>DMS_Productwidget_Block</class>
            </productwidget>
        </blocks>
        <models>
            <productwidget>
                <class>DMS_Productwidget_Model</class>
                <resourceModel>productwidget_mysql4</resourceModel>
            </productwidget>
            <productwidget_mysql4>
                <class>DMS_Productwidget_Model_Mysql4</class>
            </productwidget_mysql4>
        </models>
        <resources>
            <productwidget_setup>
            </productwidget_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <productwidget>
                <use>admin</use>
                <args>
                    <module>DMS_Productwidget</module>
                    <frontName>productwidget</frontName>
                </args>
            </productwidget>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lookbook>
                    <file>productwidget.xml</file>
                </lookbook>
            </updates>
        </layout>
    </adminhtml>
</config>