<?xml version="1.0"?>
<config>
    <modules>
        <DMS_Imagecreate>
            <version>0.1.1</version>
        </DMS_Imagecreate>
    </modules>
    <global>
        <helpers>
            <dms_imagecreate>
                <class>DMS_Imagecreate_Helper</class>
            </dms_imagecreate>
        </helpers>
        <blocks>
        </blocks>
        <models>
            <dms_imagecreate>
                <class>DMS_Imagecreate_Model</class>
                <resourceModel>imagecreate_mysql4</resourceModel>
            </dms_imagecreate>
            <productwidget_mysql4>
                <class>DMS_Imagecreate_Model_Mysql4</class>
            </productwidget_mysql4>
        </models>
        <resources>
            <productwidget_setup>
            </productwidget_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <dms_imagecreate>
                <use>standard</use>
                <args>
                    <module>DMS_Imagecreate</module>
                    <frontName>imagecreate</frontName>
                </args>
            </dms_imagecreate>
        </routers>
    </frontend>
</config>