<config>
    <modules>
        <DMS_Productrepairs>
            <version>0.0.0.1</version>
        </DMS_Productrepairs>
    </modules>
    <global>
        <models>
            <dms_productrepairs>
                <class>DMS_Productrepairs_Model</class>
                <resourceModel>productrepairs_resource</resourceModel>
            </dms_productrepairs>
            <dms_productrepairs_resource>
                <class>DMS_Productrepairs_Model_Resource</class>
                <entities>
                    <brands>
                        <table>dms_productrepairs_brands</table>
                    </brands>
                    <models>
                        <table>dms_productrepairs_models</table>
                    </models>
                </entities>
            </dms_productrepairs_resource>
        </models>
        <helpers>
            <dms_productrepairs>
                <class>DMS_Productrepairs_Helper</class>
            </dms_productrepairs>
        </helpers>
        <resources>
            <dms_productrepairs_setup>
                <setup>
                    <module>DMS_Productrepairs</module>
                </setup>
            </dms_productrepairs_setup>
        </resources>
        <blocks>
            <dms_productrepairs><class>DMS_Productrepairs_Block</class></dms_productrepairs>
        </blocks>
    </global>
    <frontend>
        <routers>
            <dms_productrepairs>
                <use>standard</use>
                <args>
                    <module>DMS_Productrepairs</module>
                    <frontName>phone-repairs</frontName>
                </args>
            </dms_productrepairs>
        </routers>
        <layout>
            <updates>
                <dms_productrepairs>
                    <file>productrepairs.xml</file>
                </dms_productrepairs>
            </updates>
        </layout>
    </frontend>
</config>